body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0vh auto;
    overflow: hidden;
}

#score {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .9), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    padding: .5vh;
    text-align: center;
    color: white;
    text-shadow: .1vh .1vh .1vh black;
    font-weight: bold;
    font-size: 2.6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#score>div, #score>table {
    display: inline-block;
}

#score #map {
    color: #29e0f8;
    position: absolute;
    transform: translate(-50%);
    text-transform: uppercase;
    font-style: italic;
    text-shadow: .1vh .1vh .5vh black;
}

.name {
    min-width: 40vh;
}

#team1 {
    text-align: left;
}

#team2, #team2 tr {
    text-align: right;
}

.player .flag img {
    width: 14vh;
}

#team1 .stats td {
    padding-right: .8vh
}

#team2 .stats td {
    padding-left: .8vh
}

#team1 .stats td:last-child {
    padding-right: 8vh
}

#team2 .stats td:first-child {
    padding-left: 8vh
}

#team1 .flag {
    padding-right: 2vh
}

#team2 .flag {
    padding-left: 2vh
}

.player .name {
    color: #fff
}

.stats .rank {
    color: #ddd
}

.stats .rating {
    color: #7ab6ff
}

.stats .winrate {
    color: #fffb78
}

.stats .wins {
    color: #48bd21
}

.stats .losses {
    color: red
}